.source-code-pro {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: 0;
  padding-bottom: 70%; /* 10:7 aspect ratio */
  background-image: url('/images/cards/cards-1.webp');
  background-size: 1000% 700%; /* 10x7 grid */
}
.card-cell {
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: no-repeat;
}

.text-desc-md {
  font-size: 0.5rem /* 12px */;
  line-height: 0.8rem /* 16px */;
}

.text-desc-sm {
  font-size: 0.45rem /* 12px */;
  line-height: 0.5rem /* 16px */;
}

.text-desc-xs {
  font-size: 0.44rem /* 12px */;
  line-height: 0.45rem /* 16px */;
}

.text-desc-xxs {
  font-size: 0.42rem /* 12px */;
  line-height: 0.5rem /* 16px */;
}

.text-desc-desc {
  font-size: 0.4rem;
  line-height: 0.45rem;
}

.text-desc-desc-mini {
  font-size: 0.4rem;
  line-height: 0.4rem;
}

/* Method1: clip */
/* .card-flavor-text-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 6px;
  left: 9px;
  background-color: white;
  color: black;
  font-size: 5px;
  font-style: italic;
  width: 124px;
  height: 24px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 24px) 100%, 0 100%);
  box-sizing: border-box;
  text-overflow: ellipsis;
} */

/* Method2: append */
.card-flavor-text-container {
  position: absolute;
  bottom: 6px;
  left: 7px;
  display: flex;
  align-items: flex-end;
  background-color: white;
  color: black;
  width: 104px;
  height: 20px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.card-flavor-text-container::after {
  content: '';
  position: absolute;
  top: 0; /* 将 bottom 改为 top */
  right: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid white; /* 将 border-left 改为 border-right */
  border-bottom: 20px solid transparent; /* 将 border-top 改为 border-bottom */
}

.card-flavor-text {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 114px;
  font-size: 4px;
  line-height: 5px;
  font-style: italic;
}

.normal-flavor-text {
  color: black;
}
.card-effects-container {
  position: absolute;
  bottom: 24px;
  left: 2px;
  background-color: white;
  color: black;
  font-size: 9px;
  line-height: 10px;
  width: 147px;
  height: 77px;
  padding-bottom: 2px;
  /* opacity: 0.8; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

.end-game-container {
  position: relative;
  background-image: url('/images/cards/end-game-container.png');
  width: 125px;
  height: calc(125px * 274 / 1167);
  margin-left: 22px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-quick-mission-container {
  position: relative;
  background-image: url('/images/cards/mission-container.png');
  width: 138px;
  height: calc(138px * 293 / 1093);
  background-size: cover;
}

.card-quick-mission-container .req-container {
  position: absolute;
  display: flex;
  gap: 1px;
  top: 0px;
  left: 0px;
  width: 73px;
  height: 37px;
  padding: 1px 2px 1px 2px;
}

.card-quick-mission-container .reward-container {
  position: absolute;
  display: flex;
  gap: 8px;
  top: 0px;
  right: 0px;
  width: 65px;
  height: 37px;
  padding: 1px 2px 1px 2px;
}

.card-mission-container {
  position: relative;
  background-image: url('/images/cards/mission-background.png');
  width: 138px;
  height: calc(138px * 302 / 1143);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-mission-item-container {
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-mission-req {
  position: relative;
  background-image: url('/images/cards/mission-req.png');
  width: calc(310px * 138 / 1143);
  height: calc(204px * 138 / 1143);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4px;
}

.card-mission-reward {
  position: relative;
  background-image: url('/images/cards/mission-reward.png');
  width: calc(274px * 138 / 1143);
  height: calc(270px * 138 / 1143);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.req-1 {
}

.card-effects {
  display: flex;
  /* flex: 1 1 0%; */
  /* width: 100%; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  /* border: 1px solid green; */
}

.card-title {
  position: absolute;
  top: 95px;
  left: 46px;
  width: 103px;
  height: 9px;
  background-color: #3f3d40;
  font-size: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anomalies {
  top: 87px;
  background-color: #1a6983;
}

.centaurians {
  top: 87px;
  background-color: #5fb35e;
}

.mascamites {
  top: 87px;
  background-color: #5d412d;
}

.oumuamua {
  top: 87px;
  background-color: #6940a2;
}

.exertians {
  top: 87px;
  background-color: #ca273a;
}
/* icons */
.seti-icon {
  background-image: url(/images/seti-icons.png);
  background-size: 500% 700%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  /* border: 1px solid black; */
}

.icon-test {
  background-image: url(/images/1.png);
  border: 2px solid blue;
  background-color: gray;
  opacity: 20%;
}
.icon-credit {
  background-position: 0 0; /* 第一行第一列 */
}
.icon-energy {
  background-position: -50px 0; /* 第一行第二列 */
}
.icon-draw-card {
  background-position: -100px 0; /* 第一行第三列 */
}
.icon-any-card {
  background-position: -150px 0; /* 第一行第四列 */
}
.icon-publicity {
  background-position: -200px 0; /* 第一行第五列 */
}
.icon-data {
  background-position: 0 -50px; /* 第二行第一列 */
}
.icon-move {
  background-position: -50px -50px; /* 第二行第二列 */
}
.icon-move-special {
  background-image: url(/images/move-icon.png);
  width: 50px;
  height: 50px;
  background-size: cover;
}
.icon-orbit-count {
  background-position: -100px -50px; /* 第二行第三列 */
}
.icon-land-count {
  background-position: -150px -50px; /* 第二行第四列 */
}
.icon-orbit-or-land-count {
  background-position: -200px -50px; /* 第二行第五列 */
}
.icon-any-signal {
  background-position: 0 -100px; /* 第三行第一列 */
}
.icon-yellow-signal {
  background-position: -50px -100px; /* 第三行第二列 */
}
.icon-red-signal {
  background-position: -100px -100px; /* 第三行第三列 */
}
.icon-blue-signal {
  background-position: -150px -100px; /* 第三行第四列 */
}
.icon-black-signal {
  background-position: -200px -100px; /* 第三行第五列 */
}

.icon-yellow-trace {
  background-position: 0 -150px; /* 第四行第一列 */
}
.icon-red-trace {
  background-position: -50px -150px; /* 第四行第二列 */
}
.icon-blue-trace {
  background-position: -100px -150px; /* 第四行第三列 */
}
.icon-any-trace {
  background-position: -150px -150px; /* 第四行第四列 */
}
.icon-score {
  background-position: -200px -150px; /* 第四行第五列 */
}
.icon-computer-action {
  background-position: 0 -200px; /* 第五行第一列 */
}
.icon-land-action {
  background-position: -50px -200px; /* 第五行第二列 */
}
.icon-launch-action {
  background-position: -100px -200px; /* 第五行第三列 */
}
.icon-scan-action {
  background-position: -150px -200px; /* 第五行第四列 */
}
.icon-orbit-action {
  background-position: -200px -200px; /* 第五行第五列 */
}
.icon-scan-tech {
  background-position: 0 -250px; /* 第六行第一列 */
}
.icon-probe-tech {
  background-position: -50px -250px; /* 第六行第二列 */
}
.icon-computer-tech {
  background-position: -100px -250px; /* 第六行第三列 */
}
.icon-any-tech {
  background-position: -150px -250px; /* 第六行第四列 */
}
.icon-rotate {
  background-position: -200px -250px; /* 第六行第五列 */
}

.icon-any-card-special {
  background-position: 0 -300px; /* 第七行第一列 */
}

/** 区别在于一个是收入，一个是正常图标。未来应该要把收入的那个改一下 */
.icon-draw-card-special {
  background-position: -50 -300px;
}

.icon-discard-card-scan {
  background-position: -100px -300px;
}

.icon-display-card-scan {
  background-position: -150px -300px;
}

.icon-income {
  background-position: -200px -300px;
}

.icon-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  /* width: 50px; */
  gap: 4px;
  /* border: 1px solid red; */
}

/* .icon-md {
  scale: 1;
}

.icon-sm {
  scale: 0.6;
} */

.icon-value {
  position: absolute;
  z-index: 5;
  color: white;
  font-family: 'Source Code Pro';
  /* width: 20px; */
  height: 50px;
  font-size: 40px;
  /* font-weight: 800; */

  left: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke: 4px black; */
}

/* .icon-value-credit {
  -webkit-text-stroke: 3px #b09530;
}

.icon-value-energy {
  -webkit-text-stroke: 3px #3aaa23;
}
.icon-value-score {
  -webkit-text-stroke: 3px #156853;
  width: 20px;
  left: 15px;
}
.icon-value-credit {
  -webkit-text-stroke: 3px #b09530;
}
.icon-value-card, .icon-value-any-card, .icon-value-card-special, .icon-value-any-card-special {
  -webkit-text-stroke: 3px #3b3947;
}

.icon-value-move {
  -webkit-text-stroke: 3px #464c5a;
  font-size: 50px;
  line-height: 50px;
  left: -8px;
  bottom: -8px;
}

.icon-value-data {
  -webkit-text-stroke: 3px #567fd1;
}

.icon-value-publicity {
  -webkit-text-stroke: 3px #f14927;
} */

.hexagon {
  position: relative;
  width: 124px;
  height: 100px;
  background: #d8d8d8;
}

.hexagon:after,
.hexagon:before {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  width: 0px;
  background: #fff;
  border-top: 50px transparent solid;
  border-bottom: 50px transparent solid;
}

.hexagon:before {
  left: 0;
  border-right: 30px #d8d8d8 solid;
}
.hexagon:after {
  right: 0;
  border-left: 30px #d8d8d8 solid;
}

.desc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
