.card-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: 0;
  padding-bottom: 70%; /* 10:7 aspect ratio */
  background-image: url('/images/cards/cards-1.webp');
  background-size: 1000% 700%; /* 10x7 grid */
}
.card-cell {
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: no-repeat;
}

.card-title {
  position: absolute;
  top: 95px;
  left: 46px;
  width: 103px;
  height: 9px;
  background-color: #3f3d40;
  font-size: 7px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anomalies {
  top: 87px;
  background-color: #1a6983;
}

.centaurians {
  top: 87px;
  background-color: #5fb35e;
}

.mascamites {
  top: 87px;
  background-color: #5d412d;
}

.oumuamua {
  top: 87px;
  background-color: #6940a2;
}
