.card-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: 0;
  padding-bottom: 70%; /* 10:7 aspect ratio */
  background-image: url('/images/cards/cards-1.webp');
  background-size: 1000% 700%; /* 10x7 grid */
}
.card-cell {
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: no-repeat;
}

/* Method1: clip */
/* .card-flavor-text {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 6px;
  left: 9px;
  background-color: white;
  color: black;
  font-size: 5px;
  font-style: italic;
  width: 124px;
  height: 24px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 24px) 100%, 0 100%);
  box-sizing: border-box;
  text-overflow: ellipsis;
} */

/* Method2: append */
.card-flavor-text {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 6px;
  left: 8px;
  background-color: white;
  color: black;
  font-size: 4px;
  line-height: 6px;
  font-style: italic;
  width: 104px;
  height: 20px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.card-flavor-text::after {
  content: '';
  position: absolute;
  top: 0; /* 将 bottom 改为 top */
  right: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid white; /* 将 border-left 改为 border-right */
  border-bottom: 20px solid transparent; /* 将 border-top 改为 border-bottom */
}

.normal-flavor-text {
  color: black;
}

.card-title {
  position: absolute;
  top: 95px;
  left: 46px;
  width: 103px;
  height: 9px;
  background-color: #3f3d40;
  font-size: 7px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anomalies {
  top: 87px;
  background-color: #1a6983;
}

.centaurians {
  top: 87px;
  background-color: #5fb35e;
}

.mascamites {
  top: 87px;
  background-color: #5d412d;
}

.oumuamua {
  top: 87px;
  background-color: #6940a2;
}

.exertians {
  top: 87px;
  background-color: #ca273a;
}
/* icons */
.seti-icon {
  background-image: url(/images/icons.jpg);
  background-size: 500% 700%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.seti-icon-diamond {
  background-image: url(/images/icons.jpg);
  background-size: 500% 700%;
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.icon-credit {
  background-position: 0 0; /* 第一行第一列 */
}
.icon-energy {
  background-position: -50px 0; /* 第一行第二列 */
}
.icon-draw-card {
  background-position: -100px 0; /* 第一行第三列 */
}
.icon-card {
  background-position: -150px 0; /* 第一行第四列 */
}
.icon-publicity {
  background-position: -200px 0; /* 第一行第五列 */
}
.icon-data {
  background-position: 0 -50px; /* 第二行第一列 */
}
.icon-move {
  background-position: -50px -50px; /* 第二行第二列 */
}
.icon-8 {
  background-position: -100px -50px; /* 第二行第三列 */
}
.icon-9 {
  background-position: -150px -50px; /* 第二行第四列 */
}
.icon-10 {
  background-position: -200px -50px; /* 第二行第五列 */
}
.icon-signal {
  background-position: 0 -100px; /* 第三行第一列 */
}
.icon-yellow-signal {
  background-position: -50px -100px; /* 第三行第二列 */
}
.icon-red-signal {
  background-position: -100px -100px; /* 第三行第三列 */
}
.icon-blue-signal {
  background-position: -150px -100px; /* 第三行第四列 */
}
.icon-black-signal {
  background-position: -200px -100px; /* 第三行第五列 */
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-value {
  z-index: 5;
  color: white;
  width: 30px;
  font-size: 60px;
  font-weight: 800;
  margin-right: -16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px black;
}

.icon-value-credit {
  -webkit-text-stroke: 3px #b09530;
}

.icon-value-energy {
  -webkit-text-stroke: 3px #3aaa23;
}
.icon-value-credit {
  -webkit-text-stroke: 3px #b09530;
}
.icon-value-credit {
  -webkit-text-stroke: 3px #b09530;
}
.icon-value-credit {
  -webkit-text-stroke: 3px #b09530;
}

.icon-value-move {
  -webkit-text-stroke: 3px black;
}

.icon-value-data {
  -webkit-text-stroke: 3px #567fd1;
}

.icon-value-publicity {
  -webkit-text-stroke: 3px #f14927;
}