$scales: (
  lg: 1,
  md: 0.8,
  sm: 0.6,
  xs: 0.45,
  xxs: 0.4,
  desc: 0.3,
  desc-mini: 0.2,
);

@mixin icon-styles($prefix, $height, $count, $width-multiplier) {
  @each $size, $scale in $scales {
    @for $i from 1 through $count {
      .#{$prefix}-#{$size}-#{$i} {
        transform-origin: 0% 50%;
        scale: $scale;
        width: $scale * $i * $width-multiplier;
        height: $scale * $height;
      }
    }
  }
}

@include icon-styles('icon-container', 50px, 4, 50px);
@include icon-styles('icon-text', 50px, 1, 20px);

@mixin text-stroke($type, $color) {
  @if $type == 'shadow' {
    text-shadow: $color 3px 0px 0px, $color 2.83487px 0.981584px 0px,
      $color 2.35766px 1.85511px 0px, $color 1.62091px 2.52441px 0px,
      $color 0.705713px 2.91581px 0px, $color -0.287171px 2.98622px 0px,
      $color -1.24844px 2.72789px 0px, $color -2.07227px 2.16926px 0px,
      $color -2.66798px 1.37182px 0px, $color -2.96998px 0.42336px 0px,
      $color -2.94502px -0.571704px 0px, $color -2.59586px -1.50383px 0px,
      $color -1.96093px -2.27041px 0px, $color -1.11013px -2.78704px 0px,
      $color -0.137119px -2.99686px 0px, $color 0.850987px -2.87677px 0px,
      $color 1.74541px -2.43999px 0px, $color 2.44769px -1.73459px 0px,
      $color 2.88051px -0.838247px 0px;
  } @else if $type == 'stroke' {
    -webkit-text-stroke: 3px $color;
  }
}

.icon-value-credit {
  @include text-stroke('shadow', #b09530);
}

.icon-value-energy {
  @include text-stroke('shadow', #3aaa23);
}

.icon-value-score {
  // text-shadow: $color 3px 0px 0px, $color 2.83487px 0.981584px 0px, $color 2.35766px 1.85511px 0px, $color 1.62091px 2.52441px 0px, $color 0.705713px 2.91581px 0px, $color -0.287171px 2.98622px 0px, $color -1.24844px 2.72789px 0px, $color -2.07227px 2.16926px 0px, $color -2.66798px 1.37182px 0px, $color -2.96998px 0.42336px 0px, $color -2.94502px -0.571704px 0px, $color -2.59586px -1.50383px 0px, $color -1.96093px -2.27041px 0px, $color -1.11013px -2.78704px 0px, $color -0.137119px -2.99686px 0px, $color 0.850987px -2.87677px 0px, $color 1.74541px -2.43999px 0px, $color 2.44769px -1.73459px 0px, $color 2.88051px -0.838247px 0px;
  @include text-stroke('shadow', #156853);
  left: 13px;
  margin-top: -2px;
}

.icon-value-card,
.icon-value-any-card,
.icon-value-card-special,
.icon-value-any-card-special {
  @include text-stroke('shadow', #3b3947);
}

.icon-value-move,
.icon-value-move-special {
  @include text-stroke('shadow', #182031);
  // font-size: 50px;
  // line-height: 50px;
  left: -6px;
  // bottom: -8px;
}

.icon-value-data {
  @include text-stroke('shadow', #567fd1);
}

.icon-value-publicity {
  @include text-stroke('shadow', #f14927);
}
